@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}
:root {
    --hue: 15;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%);
    --backround-color: hsl(var(--hue), var(--saturation), 20%);
}
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    background-color: var(--backround-color);
    overflow: hidden;
}
.paddle {
    --position: 50;
    position: absolute;
    background-color: var(--foreground-color);
    width: 1%;
    height: 10%;
    top: calc(var(--position) * 1%);
    transform: translateY(-50%);
}
.paddle.right {
    right: 1%;
}
.paddle.left {
    left: 1%;
}
.ball {
    --x: 50;
    --y: 50;

    position: absolute;
    background-color: var(--foreground-color);
    left: calc(var(--x) * 1%);
    top: calc(var(--y) * 1%);
    transform: translate(-50%, -50%, 0);
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
}
.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--foreground-color);
    opacity: .6;
    position: absolute;
    bottom: 1%;
    width: 100%
}
.score > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2%;
}
.score > :first-child {
    text-align: right;
    border-right: .5vh solid var(--foreground-color);
}
